@model Department.Models.Year
@using Department.Models
@{
    ViewBag.Title = "Курс";
    
}

<h4>Редактирование курса</h4>
<i><font size="3" color="#a30000">@ViewBag.Message</font></i>
@using (Html.BeginForm())
{
    <div>
        <fieldset>

            @Html.HiddenFor(model => model.Id)

            <div class="editor-label"><b>Студенты</b></div>
            <div class="">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="editor-label"><b>Студенты</b></div>
            @foreach (Student c in ViewBag.Students)
            {
                <input type="checkbox" name="selectedStudents" value="@c.Id"
                       @(Model.Students.Contains(c) ? "checked=\"checked\"" : "") />@c.Name <br />
                }


            <p>
                <input type="submit" value="Сохранить" />
            </p>
        </fieldset>
    </div>
}
<div>
    @Html.ActionLink("Назад", "Year")
</div>

