@model IEnumerable<Department.Models.Subject>

@{
    ViewBag.Title = "Предметы";
}

<h2>Предметы</h2>
<i><font size="3" color="#a30000">@ViewBag.Message</font></i>
<p>
    @Html.ActionLink("Добавить предмет", "CreateSubject")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditSubject", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "DeleteSubject", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Назад", "Management")
</div>
